input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.wish_list {
  margin-bottom: 2rem;
}

.page_area .tabs_menu {
  margin-bottom: 2rem;
}

.tabs_menu .btn {
  font-size: 0.9rem;
  background: #ffffff;
  width: 100%;
  padding: 1.2rem 0;
}

.tabs_menu .btn.btn_active {
  background: #c87065;
  color: #fff;
}
.tabs_content {
}

.cart_page {
}

.wishlist_page {
}

.page {
  display: none;
  width: 100%;
  height: 100% !important;
}

.page.page_active {
  display: block;
}

.table_content {
  margin-bottom: 1.5rem;
  padding: 2rem;
  background: #ffffff;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table_content table {
  width: 100%;
  min-width: 1000px;
}

table thead th {
  font-size: 0.9rem;
  padding: 10px;
  background: #f6f6f6;
}

table tbody tr {
  text-align: center;
}

table tbody td {
  padding: 20px 0 0 0;
  vertical-align: middle;
  width: fit-content;
}

.product_thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.product_img {
  width: 100px;
}

.product_info {
  text-align: center;
}

.title {
  font-size: 0.9rem;
  color: #666;
  text-transform: upperCase;
  font-family: bree serif;
}

.product_info p {
  font-size: 0.9rem;
}

.product_info p span {
  font-weight: bold;
}

.product_price,
.product_stock,
.product_total {
  font-size: 1rem;
  color: #999;
  font-weight: bold;
}

.product_stock {
  font-size: 0.9rem;
}

.add_cart .icon {
  transition: 0.5s;
}

.add_cart .icon:hover {
  color: #c87065;
}

.remove_product .icon {
  background: #f6f6f6;
  padding: 5px;
  transition: 0.5s;
}

.remove_product .icon:hover {
  background: #c87065;
  color: #ffffff;
}

table tbody .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex button {
  width: 30px;
  height: 30px;
  background: #f6f6f6;
  transition: 0.5s;
  font-size: 1.1rem;
}

table tbody .flex button:hover {
  color: #c87065;
}

table tbody .flex input {
  padding-left: 15px;
  width: 40px;
  height: 30px;
  background: #f6f6f6;
}

.discount_payment .coupon_discount,
.discount_payment .payment_details,
.discount_payment .culture_shipping,
.our_order,
.billing_method {
  background: #ffffff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.discount_payment .coupon_discount h4,
.discount_payment .payment_details h4,
.discount_payment .culture_shipping h4,
.discount_payment .our_order h4,
.discount_payment .billing_method h4 {
  font-size: 1rem;
  font-weight: bold;
  font-family: Lato, sans-serif;
  position: relative;
}

.discount_payment .coupon_discount h4::after,
.discount_payment .payment_details h4::after,
.discount_payment .culture_shipping h4::after,
.discount_payment .our_order h4::after,
.discount_payment .billing_method h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background: #eee;
}

.discount_payment .coupon_discount p,
.discount_payment .payment_details p,
.discount_payment .culture_shipping p {
  color: #999;
  font-size: 0.8rem;
}

.discount_payment .coupon_discount input,
.discount_payment .payment_details input,
.discount_payment .culture_shipping input,
.discount_payment .our_order input,
.discount_payment .billing_method input,
.discount_payment .billing_method textarea {
  background: #f6f6f6;
  padding: 0.5rem 1rem;
  outline: none;
}

.discount_payment .billing_method input::placeholder,
.discount_payment .billing_method textarea::placeholder {
  font-size: 0.8rem;
}

.discount_payment .coupon_discount .btn,
.discount_payment .payment_details .btn,
.discount_payment .culture_shipping .btn {
  background: #c87065;
  color: #ffffff;
  width: fit-content;
  font-size: 0.8rem;
  padding: 8px 20px;
}

.discount_payment .coupon_discount table tbody tr,
.discount_payment .payment_details table tbody tr,
.discount_payment .culture_shipping table tbody tr,
.discount_payment .our_order table tbody tr,
.discount_payment .billing_method table tbody tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}

.discount_payment .coupon_discount table tbody tr td,
.discount_payment .payment_details table tbody tr td,
.discount_payment .culture_shipping table tbody tr td,
.discount_payment .our_order table tbody tr td,
.discount_payment .billing_method table tbody tr td {
  padding: 8px 15px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #999;
}

.discount_payment .coupon_discount table tbody tr.total,
.discount_payment .payment_details table tbody tr.total,
.discount_payment .culture_shipping table tbody tr.total,
.discount_payment .our_order table tbody tr.total,
.discount_payment .billing_method table tbody tr.total {
  border: none;
}

.discount_payment .coupon_discount table tbody tr.total td,
.discount_payment .payment_details table tbody tr.total td,
.discount_payment .culture_shipping table tbody tr.total td,
.discount_payment .our_order table tbody tr.total td,
.discount_payment .billing_method table tbody tr.total td {
  color: #c87065;
}

.discount_payment .coupon_discount .inputs_group input,
.discount_payment .payment_details .inputs_group input,
.discount_payment .culture_shipping .inputs_group input {
  width: 100%;
}
