
.nav_logo {
  width: 135px;
  margin: 0;
}
.nav_logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_logo_mob {
  width: 60%;
}

.nav_cross {
  margin-left: 35px;
}
.nav_cross_per {
  text-align: left;
}

.logo_img {
  max-width: 40% !important;
}

@media (max-width: 600px) {
  figure,
  img {
    margin-left: auto !important;
  }
}

.logo_na {
  font-size: 21px;
  color: rgb(200, 112, 101);
}
