.nav_links {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.726);
  padding: 0.7rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}
.nav_links:hover {
  color: rgb(200, 112, 101);
}
nav {
  background-color: #fff !important;
}
