.editProfile_container {
  background-color: #fff;
  padding: 50px;
  padding-top: 45px;
  height: 95vh;
  min-width: 75%;
}

.editProfile_content {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.editProfile_content div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editProfile_content div input {
  width: 100%;
  padding: 30px 50px;
  border: none;
  outline: none;
  color: rgb(163 163 163);
  font-size: 1.5rem;
  background-color: rgb(239, 239, 239);
}

.editProfile_content div div {
  font-size: 2rem;
  background-color: rgb(200, 112, 101);
  height: 96px;
  padding: 0 20px;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.submit_btn {
  background-color: rgb(200, 112, 101) !important;
  font-size: 1.4rem;
}
.submit_btn:hover {
  background-color: rgba(200, 113, 101, 0.7) !important;
}

.error {
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(200, 113, 101, 0.7);
  padding: 0 20px;
  height: 96px;
}

@media screen and (max-width: 768px) {
  .editProfile_container {
    padding: 20px;
    height: auto;
    min-width: 100%;
  }

  .editProfile_content div input {
    padding: 15px 30px;
    font-size: 1.2rem;
  }

  .editProfile_content div div {
    font-size: 1.8rem;
    height: 57px;
    padding: 0 15px;
  }

  .submit_btn {
    font-size: 1.2rem;
  }

  .error {
    font-size: 1.2rem;
    height: 76px;
  }
}
