@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif !important;
  background-color: #efefef !important;
}

/* .container {
  width: 80% !important;
  margin: 0 auto !important;
} */

.active {
  color: rgb(200, 112, 101) !important;
  font-weight: 800 !important;
}
.slider-card-image {
  width: 73% !important;
  margin: 0 auto;
}
